/*****************************TAG SELECTORS*****************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2rem;
}

h1 {
  margin: auto;
  color: #213e3b;
  font-size: 4rem;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  color: #213e3b;
  font-weight: normal;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #213e3b;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #213e3b;
  text-decoration: none;
}

a:hover {
  color: red;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 4%;
}

/*****************************CLASS SELECTORS*****************************/
.top-container {
  background-color: #a6f6f1;
  position: relative;
  padding-top: 250px;
}

.bottom-mouse {
  position: absolute;
  width: 8rem;
  height: 8rem;
  right: 23%;
  bottom: 350px;
}

.top-mouse {
  position: absolute;
  width: 8rem;
  height: 8rem;
  top: 150px;
  left: 23%;
}

.computer-img {
  bottom: 0;
  margin-top: 30px;
  width: 400px;
  height: 400px;
}

.middle-container {
  margin: 100px auto 100px auto;
}

.profile {
  width: 30%;
  margin: 100px auto 100px auto;
  text-align: center;
  line-height: 2;
}

.skills {
  margin: 100px auto 100px auto;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.programming-img {
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 35px;
}

.database-img {
  width: 20%;
  height: 20%;
  float: right;
  margin-left: 35px;
}

.blockchain-img {
  width: 20%;
  height: 20%;
  float: left;
  margin-right: 35px;
}

.contact-me {
  margin: 100px auto auto auto;
}

input[type="Submit"] {
  background-color: #a6f6f1;
  color: #213e3b;
  display: inline-block;
  margin-top: 50px;
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  font-size: 17px;
}

input[type="Submit"]:hover {
  background-color: red;
}

.bottom-container {
  background-color: #a6f6f1;
  padding: 50px;
}

.cpy-rght {
  font-size: .8rem;
  color: grey;
}
